.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  width: 100%;
  justify-items: center;
  row-gap: 3rem;
}

.item {
  width: 300px;
}

img {
  object-fit: cover;
}

main {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

mat-card-title,
mat-card-subtitle {
  padding-left: 1rem;
}

mat-card-subtitle {
  margin-top: -2rem;
}
