<div class="banner">
  Products
</div>
<main>
  <div class="items-grid">
    <div class="item" *ngFor="let product of products">
      <mat-card>
        <img mat-card-image alt="Teste" [src]="'data:image/png;base64,' + product.base64Image" width="300px" height="300px"/>
        <mat-card-content>
          <p>{{ product.name }}</p>
          <p>{{ '$' + product.priceInCents.toFixed(2) }}</p>
          <p>{{ product.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</main>

