.items-grid {
  display: inline-flex;
  width: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 15rem;
}

.item {
  width: 300px;
}

img {
  object-fit: cover;
}

main {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

mat-card-title,
mat-card-subtitle {
  padding-left: 1rem;
}

mat-card-subtitle {
  margin-top: -2rem;
}
