@use "../styles/themes/main-dark";
@use "../styles/variables/main-var" as vars;

mat-toolbar {
  height: vars.$tool-bar-height;
}

#nameButton {
  font-size: 2rem;
  font-style: italic;
  color: vars.$title-color;
  font-weight: 900;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainButtons a {
  margin-left: 2rem;
}
