@use "../styles" as app;
@use "@angular/material" as mat;

mat-toolbar {
  height: app.$tool-bar-height;
}

#nameButton {
  font-size: 2rem;
  font-style: italic;
  color: app.$title-color;
  font-weight: 900;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
